*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}
body
{
	margin: 0;
	padding: 0;
	font-family: Poppins, sans-serif;
	background: linear-gradient(rgba(256,256,256,0.4),rgba(256,256,256,0.4)), url(background.jpg);
	background-repeat: repeat;
	background-position: center;
	position: relative;
	background-size: cover;
}
.header h2
{
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	letter-spacing: 10px;
	margin-top: 0;
}
hr{
	background-color:white;
}
#blogs{
	display: relative; 
}
#users{
	left: 100px;
	top: 230px;
	width:18rem;
	position: absolute;
}
#complaints{
	right: 100px;
	top: 230px;
	width:18rem;
	position: absolute;
	
}
#yojanas{
	left: 39%;
	top: 230px;
	width:18rem;
	position: absolute;
	margin: auto;
}
#domains{
	left: 33%;
	top: 430px;
	width:28rem;
	position: absolute;
	
}
#button{
	width:250px;
	padding: 7px;
	border: 2px black solid;
	border-radius: 100px;
	background-color: transparent;
	color:black;
	font-weight: bold;
	margin-top: 5px;
	/*margin-bottom: 40px;
	margin-left: 400px;*/
}
#button1{
	width:250px;
	padding: 7px;
	border: 2px black solid;
	border-radius: 100px;
	background-color: transparent;
	color:black;
	font-weight: bold;
	
}
.logo{
	height:40px;
	padding: 0 5px;
}
.header
{
	width:100%;
	height: 100vh;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.header-section{
	width: 100%
	height: inherit;
	text-align: center;
	position: relative;
}


.form
{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}
label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}
select,input {
  height: 30px;
  flex: 0 0 200px;
  margin-left: 10px;
  /*background: rgba(0,0,0,0);
	border: none;
	border-bottom: 1px solid black;*/
}